<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

<title></title>

  <body>


  <!-- HEADER SECTION -->

    <header>

      <i class = "icon_here"></i>
      <div>My Account</div>
      <h1>2 Sam's and a Rohan</h1>
      <section>
        <form>
          <label>Email</label>
          <input type="text" id="userEmail" name="userEmail">
          <label>Password</label>
          <input type="text" id="userPW" name="userPW">
          <button class = "button" type = "submit">Login</button>
          <button class = "button" type = "submit">Register</button>
        </form>
      </section>

    </header>


  <!-- LEFT PANE SECTION -->
    <section class = "flex_box">
      <section class = "left_pane">
        <h2> User information</h2>
        <section>
          <p>name</p>
        </section>
        <h2> Current order</h2>
        <section>
          poopoo
        </section>
        <h2> Previous orders</h2>
        <section>
          poopoo
        </section>

        <!-- User information
          name (from DB)
          email (from DB)```````````````````````````````````
          phone (from DB)
          edit button (change DB information for user)
            popup?
        Current (confirmed) order
          populate with DB info (order #, menu items, quantity, total cost)
        Previous orders ( ? )
          optional (same as current order but for previous order, retrieved from DB) -->
      </section>


  <!-- MENU SECTION -->
      <section class = "main_body">
        <!-- Menu -->
        <h1> Menu</h1>
        <section class = "menu_box">
          <!-- add menu elements using the following structure: -->
          <div class = "menu_item">
            <button type = "submit">(add order +)</button>
            <img src = "http://cakebycourtney.com/wp-content/uploads/2018/05/IMG_6702.jpg"></img>
            <span>name, description, price</span>
            <!-- pull image, name, desc, price from DB -->
          </div>
        </section>
        <!-- button (add item), picture, title (from DB), description ( ? from DB), cost -->
      </section>


<!-- RIGHT PANE SECTION -->

      <section class = "right_pane">
        <h1>Order summary</h1>

        <section>
          <h2> Menu Items:</h2>
          <section class = "menu_items">
            <!-- populate from order object whenever an order is added or removed -->
            <div>
              <button type = "submit">(+)</button>
              <span> #  <span>
              <button type = "submit">(-)</button>
              <span> menuItemName<span>
              <span> $</span>
            </div>
          </section>
        </section>


        <section>
          <h2>Fees and Total</h2>
          <section class = "fees_box">
            <p>Fees: our fees</p>
            <p>Tax: pull from menu object x 13%</p>
            <p>Total: $$$ total</p>
          </section>
        </section>


        <button id="confirm" type = "submit">Confirm</button>
        <button id="cancel" type = "submit">Cancel</button>

        <!-- Order summary
          current order (#, name, price)
        Fees
          Tax
          Service
        Total
          Total cost (current order sum price + tax + service) -->
      </section>
    </section>
  </body>
</html>
