<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />




    <script src="/vendor/jquery-3.0.0.js"></script>
    <script type = "text/javascript" defer src="scripts/app.js"></script>
  </head>
  <body>


  <!-- HEADER SECTION -->
    <header>
      <!-- <div id="my_acc">
        <i class = "icon_here">==</i>
        <span>My Account</span>
      </div> -->
      <h1>2 Sam's and a Rohan</h1>
      <!-- <% if(user) { %>
        <div><%- user %></div>
      <% } %>
      <section class = "login">
        <form action="/login" class = "login_form" method="POST">
          <section class = "email_password">
            <div>

              <input type="text" id="userEmail" placeholder="E-mail" name="userEmail">
            </div>
            <div>

              <input type="text" id="userPW" placeholder="Password" name="userPW">
            </div>
          </section>

          <section class = "login_register_buttons">
            <button class = "button" type = "submit">Login</button>
            <button id="register_button" class = "button" type = "submit">Register</button>
          </section>
        </form>
      </section> -->

    </header>
    <section class = "main_body pure-g">

  <!-- MENU SECTION -->
  <section class = "menu_body pure-u-18-24">
        <h1> Menu</h1>
        <section class = "cart_icon">
          <i>View Cart</i>
          <i>+</i>
        </section>
        <!-- Menu -->
        <section class = "menu_box">
          <!-- add menu elements using the following structure: -->
        </section>
        <!-- button (add item), picture, title (from DB), description ( ? from DB), cost -->
      </section>

<!-- RIGHT PANE SECTION -->
      <section class = "right_pane pure-u-6-24">
        <h1>Order summary</h1>

        <section>
          <h2> Menu Items:</h2>
          <section id="cart_items" class="cart_items">
            <!--  -->
          </section>
        </section>

        <section>
          <h2>Fees and Total</h2>
          <section id ="fees_box" class ="fees_box">
            <!--  -->
          </section>
        </section>


        <button id="confirm" type ="submit" onclick="cancelOrder()">Confirm</button>
        <button id="cancel" type ="submit" onclick="cancelOrder()">Cancel</button>

        <!-- Order summary
          current order (#, name, price)
        Fees
          Tax
          Service
        Total
          Total cost (current order sum price + tax + service) -->
      </section>
    </section>
  </body>
</html>
