<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script type = "text/javascript" defer src="scripts/app.js"></script>
  </head>
  <body>

  <!-- HEADER SECTION -->
    <header class = "restaurant_title">
      <h1>2 Sam's and a Rohan</h1>
      <section class = "cart_icon">
        View Cart
      </section>
    </header>
    <section class = "main_body">

      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal_content">
          <p>Please enter your name and phone number to complete your order</p>
          <form class ="customer_info">
            <input type="text" id="name" placeholder="Name">
            <input type="text" id="phone" placeholder="Phone">
            <button type="submit" class="btn btn-success pure-button" id="complete_order_button" >Confirm</button>
            <button type="submit" class="btn btn-fail pure-button" id="close_order_button" >Cancel</button>
          </form>
        </div>
      </div>

  <!-- MENU SECTION -->
  <section class = "menu_body">
        <h1> Menu</h1>
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal_content">
            <span id="close_order_button">&times;</span>
            <p>Please enter your name and phone number to complete your order</p>
            <form class ="customer_info">
              <input type="text" id="name" placeholder="Name">
              <input type="text" id="phone" placeholder="Phone">
              <button type="submit" class="btn btn-success" id="complete_order_button" >Confirm</button>
            </form>
          </div>
        </div>
          <!-- Menu -->
        <section class = "menu_box">
          <!-- Populate with Menu Items -->
        </section>
      </section>

<!-- RIGHT PANE SECTION -->
      <section class = "right_pane">
        <h1>Last Order</h1>
        <section id="order_timer" class="order_timer">
          <!-- Get the time to order completion -->
        </section>
        <hr>
        <h1>Order summary</h1>
        <section>
          <h2> Menu Items</h2>
          <section id="cart_items" class="cart_items">
            <!-- Cart Items here -->
          </section>
        </section>
        <section>
          <h2>Fees and Total</h2>
          <section id ="fees_box" class ="fees_box">
            <!-- Fees & Total here -->
          </section>
        </section>

        <button id="confirm" type ="submit" class="pure-button">Confirm</button>
        <button id="cancel" type ="submit" class="pure-button">Cancel</button>
      </section>
    </section>
  </body>
</html>
