header {
  background-color: $primaryBlue;
  color: floralwhite;
  display:flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px black;
  border-bottom-style: solid;
  position: sticky;
  top: 0em;
  z-index: 1;

  .cart_icon {
    flex: none;
    right: 0em;
    top: 1em;
  }

  .cart_icon:hover {
    cursor: pointer;
  }
}
