// GENERAL PANEL STYLING
@mixin panelStyle () {
  height: auto;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #EEEEEE;
  padding: 1%;
  width: 20em;
}

@mixin panelBox () {
  background-color: #D9D9D9;
  margin-top: 1em;
  margin-bottom: 1em;
  width: auto;
  padding: 1em;
  min-height: 20vh
}

@mixin buttonStyle ($background, $hoverColor) {
  color: floralwhite;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5rem;
  background-color: $background;
  &:hover {
    background-color: $hoverColor;
  }
}

// RIGHT PANE
.right_pane {
  @include panelStyle();
  h1, h2 {
    text-align:center;
  }

  background: #ff90000f;
  opacity: 0.95;
  border-left: 1px solid black;

.cart_items, .fees_box, #order_timer {
  @include panelBox;
  .horizontal_line {
    background-color: grey;
            width: 90%;
            height: 5px;
            border-top: 5px black;
            line-height: 80%;
  }
}

#confirm {
  @include buttonStyle ($primaryBlue, #073D6F)
}

#cancel {
  @include buttonStyle (red, #CC0707)
}
}

// Cart
.cart_icon {
  align-self: flex-end;
  margin-right: 1em;
  margin-top: 1em;
  position: absolute;
}
