@mixin panelStyle {
  height: 100vh;
  display:flex;
  flex-direction: column;
  background-color: #EEEEEE;
  padding 1%;
}


// LEFT PANE STYLING

.left_pane {
  flex-direction: column;
  height: 100vh;
  background-color: #EEEEEE;
  width: 20em;
  padding: 1%;
  section {
    background-color: #D9D9D9;
    padding: 2%;
  }
}

// RIGHT PANE STYLING

.right_pane {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30em;
  height: 100vh;
  background-color: #EEEEEE;
  padding: 1%;
}
