$primaryBlue : #155A9A;

@import "./header";
@import "./menu";
@import "./panels";
@import "./modal";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

// GENERAL BODY STYLING

.main_body {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 950px) {
  .main_body {
      flex-direction: column;
  }
  .menu_box {
    align-items: center;
  }
  .menu_body {
    width: 100%;
  }
  .menu_item {
    width: 80%;
  }
  .right_pane {
    width: 100%;
  }

}

@media only screen and (max-width: 660px) {
  .header h1 {
    white-space:nowrap;
  }

  .main_body {
      flex-direction: column;

  }
  .menu_body {
    width: 100%;
  }
  .right_pane {
    width: 100%;
  }

  .menu_item {
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 280px;
  }

  .menu_text {
    margin-top: 10px;
  }

  .menu_text span {
    text-align: center;
  }

  .menu_item_buttons {
    display:flex;
    flex-direction: row;
  }

  .customer_info {
    display:flex;
    flex-direction: column;
    align-items: center;
    }
}

